In [1]:
import requests
import numpy as np
import pandas as pd

from bs4 import BeautifulSoup

In [2]:
URL =  "https://www.worldometers.info/coronavirus/"

html_page = requests.get(URL).text

In [3]:
soup = BeautifulSoup(html_page,'html.parser')
#soup

In [4]:
get_table = soup.find("table",id='main_table_countries_today')

In [5]:
get_table_data = get_table.tbody.findAll("tr")

In [6]:
dic = {}
for i in range(len(get_table_data)):
    try:
        key = get_table_data[i].find_all("a",href=True)[0].text
    except:
        key = get_table_data[i].find_all("td")[0].text
    #print(key)
    
    values = [j.string for j in get_table_data[i].find_all('td')]
    #print(key,values)
    dic[key]=values

In [7]:
a=pd.DataFrame(dic).iloc[2:16,:].reset_index()
#a

In [8]:
c=a.drop(['index',''],axis=1).T
c.index.name = 'Country'
c=c.reset_index()

In [9]:
columns = ['Country, Other','Total Cases','New Cases','Total Deaths','New Deaths','Total Recovered','New Recovered','Active Cases','Serious, Critical','Tot Cases 1M pop','Deaths 1M pop','Total Tests','Tests/ 1M pop','Population','Continent']
len(columns)

15

In [10]:
c.columns = columns

In [11]:
c.drop(['Population'],axis=1)

,"Country, Other",Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,New Recovered,Active Cases,"Serious, Critical",Tot Cases 1M pop,Deaths 1M pop,Total Tests,Tests/ 1M pop,Continent
0,USA,"4,727,184","+21,295","157,170",+423,"2,329,402","+1,830","2,240,612","18,687","14,274",475,"58,687,788","177,215",North America
1,Brazil,"2,666,298",None,"92,568",None,"1,884,051",None,"689,679","8,318","12,536",435,"13,096,132","61,575",South America
2,India,"1,735,745","+38,691","37,015",+464,"1,130,376","+34,729","568,354","8,944","1,257",27,"19,358,659","14,017",Asia
3,Russia,"845,443","+5,462","14,058",+95,"646,524","+8,114","184,861","2,300","5,793",96,"28,478,012","195,135",Europe
4,South Africa,"493,183",None,"8,005",None,"326,171",None,"159,007",539,"8,307",135,"2,959,535","49,850",Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,British Virgin Islands,8,None,1,None,7,None,0,None,264,33,"1,253","41,424",North America
211,St. Barth,8,None,,None,6,None,2,None,810,None,"1,246","126,113",North America
212,Saint Pierre Miquelon,4,None,,None,1,None,3,None,691,None,None,None,North America
213,Anguilla,3,None,,None,3,None,0,None,200,None,380,"25,310",North America
214,China,"84,337",+45,"4,634",None,"78,989",+15,714,39,59,3,"90,410,000","62,814",Asia

In [14]:
def world_data():
    URL =  "https://www.worldometers.info/coronavirus/"

    html_page = requests.get(URL).text
    soup = BeautifulSoup(html_page,'html.parser')
    get_table = soup.find("table",id='main_table_countries_today')
    get_table_data = get_table.tbody.findAll("tr")
    
    dic = {}
    for i in range(len(get_table_data)):
        try:
            key = get_table_data[i].find_all("a",href=True)[0].text
        except:
            key = get_table_data[i].find_all("td")[0].text
            #print(key)
    
        values = [j.string for j in get_table_data[i].find_all('td')]
        #print(key,values)
        dic[key]=values

    a=pd.DataFrame(dic).iloc[2:16,:].reset_index()
    c=a.drop(['index',''],axis=1).T
    c.index.name = 'Country'
    c=c.reset_index()
    columns = ['Country, Other','Total Cases','New Cases','Total Deaths','New Deaths','Total Recovered','New Recovered','Active Cases','Serious, Critical','Tot Cases 1M pop','Deaths 1M pop','Total Tests','Tests/ 1M pop','Population','Continent']
    c.columns = columns
    c = c.drop(['Population'],axis=1)
    c.to_csv("world.csv")
    
    print("Scraped")

In [15]:
world_data()

Scraped